<table>
  <tr>
    <td class="item" (click)="add(0, 0)"> <i *ngIf="field[0][0].content"  class="material-icons {{field[0][0].class}}">{{field[0][0].content}}</i> </td>
    <td class="item" (click)="add(0, 1)"> <i *ngIf="field[0][1].content"  class="material-icons {{field[0][1].class}}">{{field[0][1].content}}</i> </td>
    <td class="item" (click)="add(0, 2)"> <i *ngIf="field[0][2].content"  class="material-icons {{field[0][2].class}}">{{field[0][2].content}}</i> </td>
  <tr>
    <td class="item" (click)="add(1, 0)"> <i *ngIf="field[1][0].content"  class="material-icons {{field[1][0].class}}">{{field[1][0].content}}</i> </td>
    <td class="item" (click)="add(1, 1)"> <i *ngIf="field[1][1].content"  class="material-icons {{field[1][1].class}}">{{field[1][1].content}}</i> </td>
    <td class="item" (click)="add(1, 2)"> <i *ngIf="field[1][2].content"  class="material-icons {{field[1][2].class}}">{{field[1][2].content}}</i> </td>
  <tr>
    <td class="item" (click)="add(2, 0)"> <i *ngIf="field[2][0].content"  class="material-icons {{field[2][0].class}}">{{field[2][0].content}}</i> </td>
    <td class="item" (click)="add(2, 1)"> <i *ngIf="field[2][1].content"  class="material-icons {{field[2][1].class}}">{{field[2][1].content}}</i> </td>
    <td class="item" (click)="add(2, 2)"> <i *ngIf="field[2][2].content"  class="material-icons {{field[2][2].class}}">{{field[2][2].content}}</i> </td>
</table>