<table>
  <tr>
    <td class="item"> <i class="material-icons md-48 cr">clear</i> </td>
    <td class="item"> <i class="material-icons md-48 cr">clear</i> </td>
    <td class="item"> <i class="material-icons md-48 cr">clear</i> </td>
  <tr>
    <td class="item"> <i class="material-icons md-48 zr">panorama_fish_eye</i> </td>
    <td class="item"> <i class="material-icons md-48 zr">panorama_fish_eye</i> </td>
    <td class="item"> <i class="material-icons md-48 zr">panorama_fish_eye</i> </td>
  <tr>
    <td class="item"> <i class="material-icons md-48 cr">clear</i> </td>
    <td class="item"> <i class="material-icons md-48 cr">clear</i> </td>
    <td class="item"> <i class="material-icons md-48 cr">clear</i> </td>
</table>