<table class="table">
  <thead>
      <tr>
          <th colspan="8">Статистика</th>
      </tr>
    <tr>
      <th scope="row">#</th>
      <th>Режим игры</th>
      <th>Сложность</th>
      <th>Опыт</th>
      <th>Побед</th>
      <th>Поражений</th>
      <th>Всего игр</th>
      <th>Уровень</th>
    </tr>
  </thead>
  <!-- <tbody id="online-tab-all">
    <tr>   id="0" class="online-tab-line" *ngFor="let item of onlineusers; index as i;" (click)="GameForTwo(i)"
      <th scope="row">{{i+1}}</th>
      <td>{{item.name}}</td>
      <td>{{item.surname}}</td>
      <td id="online-tab-score">{{item.score}}</td>
    </tr> 
  </tbody> -->
</table>