<label class="message"></label>
<label class="message" ng-show="message!=undefined">{{message}}</label>

<table class="game-table table-bordered">

<router-outlet></router-outlet>

</table>

<div id="control-btn" >
  <button class="btn btn-outline-success btn-control" [routerLink]="['/header/home/menu']" *ngIf="router.url=='/header/home/field'">Отключиться</button>
  <button class="btn btn-outline-success btn-control" *ngIf="router.url=='/header/home/field'" (click)="this.share.field = this.share.clearField()">Hовая игра</button>
</div>

<div>
  <h2 class="title-score">СЕЙЧАС В СЕТИ</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="row">#</th>
        <th>Аватар</th>
        <th>Имя</th>
        <th>Уровень</th>
        <th id="online-tab-score">Опыт</th> 
        <th id="online-tab-score">Состояние</th>
      </tr>
    </thead>
    <tbody id="online-tab-all">

        <tr class="online-tab-line" *ngFor="let item of onlineUserItems; index as i;">
            <th scope="row">{{i}}</th>
            <td><img src="{{item.avatar}}" id="online-table-avatar"></td>
            <td>{{item.name}}</td>
            <td>{{item.level}}</td>
            <td id="online-tab-score">{{item.score}}</td>
            <td id="online-tab-score"> <i class="material-icons">{{item.icon}}</i> </td>
        </tr>

    </tbody>
  </table>
</div>

<!-- <div id="parent_popup" *ngIf="ModalWindow">
  <div id="popup">
    <p id="messageText" *ngIf="state == 'wait'">Ожидание подтверждения от игрока: {{onlineusers[Player_2].name}}
      {{onlineusers[Player_2].surname}} {{time}} сек.</p>
    <p id="messageText" *ngIf="state == 'timeOut'">Время вышло</p>
    <p id="messageText" *ngIf="state == 'cancel'"> {{onlineusers[Player_2].name}} {{onlineusers[Player_2].surname}}
      отклонил ваше приглашение</p>
    <p id="messageText" *ngIf="state == 'incoming'"> {{onlineusers[Player_1].name}} {{onlineusers[Player_1].surname}}
      приглашает на игру</p>
    <p id="ok" (click)="clt(true)" *ngIf="state == 'timeOut' || state == 'cancel' || state == 'incoming'">Ok</p>
    <p id="cancel" (click)="clt(false)" *ngIf="state == 'wait' || state == 'incoming'">Отмена</p>
  </div>
</div> -->