<label class="message" ng-show="message!=undefined">{{this.share.message}}</label>

<table class="game-table table-bordered">

<div *ngIf="view == 'menu'">
  <img id="home-img" src="https://pp.userapi.com/c837338/v837338590/4f7b8/xcJb9Ut-BWg.jpg">
    <button class="btn btn-outline-success menu-btn" (click)="view = 'menu-bot'">Бот</button>
    <button class="btn btn-outline-success menu-btn" (click)="view = 'menu-person'">Два игрока</button>
</div>

  <div *ngIf="view == 'menu-bot'">
    <button class="btn btn-outline-success menu-btn-back" (click)="view = 'menu'">Назад</button>
    <button class="btn btn-outline-success menu-btn" (click)="view = 'game';mode = 'easy'">Легкий</button>
    <button class="btn btn-outline-success menu-btn" (click)="view = 'game';mode = 'middle'">Средний</button>
    <button class="btn btn-outline-success menu-btn" (click)="view = 'game';mode = 'hard'">Сложный</button>
  </div>

  <div *ngIf="view == 'menu-person'">
    <button class="btn btn-outline-success menu-btn-back" (click)="view = 'menu'">Назад</button>
    <button class="btn btn-outline-success menu-btn" (click)="view = 'game';mode = 'one-pc'">На одном ПК</button>
    <button class="btn btn-outline-success menu-btn" (click)="view = 'game';mode = 'list-online'">Список онлайн</button>
    <button class="btn btn-outline-success menu-btn" (click)="view = 'game';mode = 'searsh-person'">Подобрать игрока</button>
  </div>

  <div *ngIf="view == 'game'">
    <tr>
      <td class="item {{gField[0][0].errClass}}" (click)="this.share.add(0, 0)"> <i *ngIf="gField[0][0].content"  class="material-icons {{gField[0][0].class}}">{{gField[0][0].content}}</i> </td>
      <td class="item {{gField[0][1].errClass}}" (click)="this.share.add(0, 1)"> <i *ngIf="gField[0][1].content"  class="material-icons {{gField[0][1].class}}">{{gField[0][1].content}}</i> </td>
      <td class="item {{gField[0][2].errClass}}" (click)="this.share.add(0, 2)"> <i *ngIf="gField[0][2].content"  class="material-icons {{gField[0][2].class}}">{{gField[0][2].content}}</i> </td>
    <tr>
      <td class="item {{gField[1][0].errClass}}" (click)="this.share.add(1, 0)"> <i *ngIf="gField[1][0].content"  class="material-icons {{gField[1][0].class}}">{{gField[1][0].content}}</i> </td>
      <td class="item {{gField[1][1].errClass}}" (click)="this.share.add(1, 1)"> <i *ngIf="gField[1][1].content"  class="material-icons {{gField[1][1].class}}">{{gField[1][1].content}}</i> </td>
      <td class="item {{gField[1][2].errClass}}" (click)="this.share.add(1, 2)"> <i *ngIf="gField[1][2].content"  class="material-icons {{gField[1][2].class}}">{{gField[1][2].content}}</i> </td>
    <tr>
      <td class="item {{gField[2][0].errClass}}" (click)="this.share.add(2, 0)"> <i *ngIf="gField[2][0].content"  class="material-icons {{gField[2][0].class}}">{{gField[2][0].content}}</i> </td>
      <td class="item {{gField[2][1].errClass}}" (click)="this.share.add(2, 1)"> <i *ngIf="gField[2][1].content"  class="material-icons {{gField[2][1].class}}">{{gField[2][1].content}}</i> </td>
      <td class="item {{gField[2][2].errClass}}" (click)="this.share.add(2, 2)"> <i *ngIf="gField[2][2].content"  class="material-icons {{gField[2][2].class}}">{{gField[2][2].content}}</i> </td>
</div>
<div *ngIf="view == 'end-game'">
  <p>Вы победили или проиграли или ничья.</p>
</div>

</table>

<div id="control-btn" >
  <button class="btn btn-outline-success btn-control" *ngIf="view == 'game'" (click)="view = 'menu';this.share.field = this.share.clearField()">Отключиться</button>
  <button class="btn btn-outline-success btn-control" *ngIf="view == 'game'" (click)="this.share.field = this.share.clearField()">Hовая игра</button>
</div>

<div>
  <h2 class="title-score">СЕЙЧАС В СЕТИ</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="row">#</th>
        <th>Аватар</th>
        <th>Имя</th>
        <th>Уровень</th>
        <th id="online-tab-score">Опыт</th> 
        <th id="online-tab-score">Состояние</th>
      </tr>
    </thead>
    <tbody id="online-tab-all">

        <tr class="online-tab-line" *ngFor="let item of onlineUserItems; index as i;">
            <th scope="row">{{i}}</th>
            <td><img src="{{item.avatar}}" id="online-table-avatar"></td>
            <td>{{item.name}}</td>
            <td>{{item.level}}</td>
            <td id="online-tab-score">{{item.score}}</td>
            <td id="online-tab-score"> <i class="material-icons">{{item.icon}}</i> </td>
        </tr>

    </tbody>
  </table>
</div>

<!-- <div id="parent_popup" *ngIf="ModalWindow">
  <div id="popup">
    <p id="messageText" *ngIf="state == 'wait'">Ожидание подтверждения от игрока: {{onlineusers[Player_2].name}}
      {{onlineusers[Player_2].surname}} {{time}} сек.</p>
    <p id="messageText" *ngIf="state == 'timeOut'">Время вышло</p>
    <p id="messageText" *ngIf="state == 'cancel'"> {{onlineusers[Player_2].name}} {{onlineusers[Player_2].surname}}
      отклонил ваше приглашение</p>
    <p id="messageText" *ngIf="state == 'incoming'"> {{onlineusers[Player_1].name}} {{onlineusers[Player_1].surname}}
      приглашает на игру</p>
    <p id="ok" (click)="clt(true)" *ngIf="state == 'timeOut' || state == 'cancel' || state == 'incoming'">Ok</p>
    <p id="cancel" (click)="clt(false)" *ngIf="state == 'wait' || state == 'incoming'">Отмена</p>
  </div>
</div> -->