.item:hover {
    background: rgba(0, 171, 255, 0.13);
}

.item {
    height: 99px;
    width: 99px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    cursor: pointer;
}

.cr, .zr {
    animation-duration: 0.3s;
    animation-direction: normal;
    animation-timing-function: linear;
}

.zr { 
    font-size: 33px;
    animation-name: size-zr;
}

.cr { 
    font-size: 43px;
    animation-name: size-cr;
}

.cl-good {
    background-color: white;
}
.cl-no-good, .cl-no-good:hover {
    background-color: #F44336;
    cursor: pointer;
}

@keyframes size-cr{
    0% {
        font-size: 45px;  
    }
    80% {
        font-size: 35px;
    }
    90% {
        font-size: 40px;
    }
    100% {
        font-size: 43px;
    }
}

@keyframes size-zr{
    0% {
        font-size: 35px;  
    }
    80% {
        font-size: 25px;
    }
    90% {
        font-size: 30px;
    }
    100% {
        font-size: 33px;
    }
}