<table class="table">
  <thead>
      <tr>
          <th colspan="7">Лидеры</th>
      </tr>
    <tr>
      <th scope="row">#</th>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Дней в игре</th>
      <th>Уровень</th>
      <th>Опыт (бот)</th>
      <th>Опыт (2 игрока)</th>
    </tr>
  </thead>

  <!-- <tbody id="online-tab-all">
    <tr>   id="0" class="online-tab-line" *ngFor="let item of onlineusers; index as i;" (click)="GameForTwo(i)"
      <th scope="row">{{i+1}}</th>
      <td>{{item.name}}</td>
      <td>{{item.surname}}</td>
      <td id="online-tab-score">{{item.score}}</td>
    </tr> 
  </tbody> -->
</table>