<div>
    <div>
        <button class="btn btn-outline-success" [routerLink]="['/header/home/menu']">back</button>
      </div>
  <p>Выберите уровень сложности:</p>
    <div>
      <button class="btn btn-outline-success" [routerLink]="['/header/home/field']">Легкий</button>
    </div>
    <div>
      <button class="btn btn-outline-success" [routerLink]="['/header/home/field']">Средний</button>
    </div>
    <div>
      <button class="btn btn-outline-success" [routerLink]="['/header/home/field']">Сложный</button>
    </div>
  </div>