<div>
    <div>
        <button class="btn btn-outline-success menu-btn-back " [routerLink]="['/header/home/menu']">Назад</button>
      </div>
  <div>
    <button class="btn btn-outline-success menu-btn" [routerLink]="['/header/home/field']">На одном ПК</button>
  </div>
  <div>
    <button class="btn btn-outline-success menu-btn" [routerLink]="['/header/home/field']">Список онлайн</button>
  </div>
  <div>
    <button class="btn btn-outline-success menu-btn" [routerLink]="['/header/home/field']">Подобрать игрока</button>
  </div>
</div>